body {
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    background: url(fondo\ real.jpeg) no-repeat center top;
    background-size: cover;
}

.box {
    border: 1px solid white;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0e2f5b;
    text-align: center;
    display: inline-block;
    border-radius: 20px;

}


.box h1 {
    color: white;
    text-transform: Helvetica;
    font-weight: 500px;


}

.box h2 {
    color: white;
    text-transform: sans-serif;
    text-align: left;
    font-size: 15px;
    padding: 0 0 5px;
    margin: 0%;

}

.box input[type="texto"],
.box input[type="password"] {
    border: 0px;
    background: transparent;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    display: inline-block;
    padding: 14px 10px;
    width: 260px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;

}

.box input[type="texto"]:focus,
.box input[type="password"]:focus {
    width: 250px;
    height: 20px;
    border-color: white;

}

.box input[type="submit"] {
    border: 0px;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    display: inline-block;
    padding: 5% 25%;
    outline: none;
    color: whitesmoke;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type="submit"]:hover {
    background-color: #5acae7;
    color: black;
}